[Unit]
Description=Docker firewall rules
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/docker-fw.sh

[Install]
WantedBy=docker.service
